.favoritos{
    background-color: rgba(0, 0, 0, 0.208);
}
.favoritos__title{
    font-size: 40px;
    text-align: center;
    color: rgb(97, 171, 51);
}
.favoritos__table{
    border: 2px white solid;
    margin: 0 auto;
}
.favoritos__thead{
    background-color: black;
    color: rgb(97, 171, 51);
    text-align: center;
}
.favoritos__theadtd{
    width: 200px;
}
.favoritos__itemtd{
    border: 2px solid rgb(97, 171, 51);
    width: 100px;
    text-align: center;
    height: 40px;
}
.favoritos__play{
    width: 95%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.favoritos__play:hover{
    background-color: rgb(97, 171, 51);
    color: white;
}